/* CUSTOM NAV */

.navbar {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  background-color: #242C33 !important;
  border-radius: 0px !important;
  
}

.navbar ul {
  align-items: center !important;
  justify-content: center !important;
  height: 85vh;
  font-size: 30px;
  line-height: 10vh;
}

.nav-link.active {
  text-decoration: underline;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
}

.navbar-toggler:focus {
  border: none !important;
  box-shadow: none !important;
}

.navbar-toggler:focus:not {
  border: none !important;
}

button:focus:not(:focus-visible) {
  outline: none !important;
}

button:focus:not(:focus-visible) {
  outline: 0 !important;
}

button:focus:not {
  outline: none !important;
}

.navbar-toggler-icon {
  background-image: url(../public/images/Hamburger.png) !important;
}

button[aria-expanded="true"] .navbar-toggler-icon{
 background-image: url(../public/images/CloseX.png) !important;
}

.navbar-toggler {
  padding: 0px !important;
}

.navbar-toggler * {
  outline: 0 !important;
}  

.nav-item:hover{
  text-decoration: underline;
  color: #24272A;
}


/* GENERAL STYLES */
.container{
    padding-right: 0rem ;;
   padding-left: 0rem ;
}


.app {
  margin-top: 100px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  margin-bottom: 75px;
}

.card {
  margin-bottom: 175px;
  /* min-width: 300px;
  max-width: 20vw; */
  flex: 1 0 29%; /* 29% ~ 1/3 + the margins*/
  margin: 5px;
}



.posts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between ;
  gap: 30px;
  padding-bottom: 75px;
}

.post-btn {
  margin: 1rem;
}

/* /Features CSS */

.features-container {
  display: flex;

  /* OPTIONAL: Reverse the order of image and content */
  flex-direction: row-reverse;

  /* OPTIONAL: Spacing between items */
  margin: 50px 0;
}

.features-container-rev {
  display: flex;
  flex-direction: flex-end;


  /* OPTIONAL: Reverse the order of image and content 
  flex-direction: row-reverse;*/

  /* OPTIONAL: Spacing between items */
  margin: 16px 0;

}

.container__image {
  width: 300px;
  border-radius: 1000px;
  
}

.container__image img{
  
  border-radius: 1000px;
  width:300px;
  height:300px;
  object-fit:cover;

}
.container__feature {
  /* Take the remaining width */
  flex: 1;
  margin-right: 50px;
  justify-content: center;
  align-self: center;
}

.left-image {
  margin-right: 50px;

}

.container-fluid {
  padding-bottom: 100px;
}

/* Half Section */

.half-screen-leadership {
  min-height: 600px;
  background-color: #DEE0E0;
  display: flex;
}

.half-screen-projects {
  min-height: 600px;
  background-color: #DEE0E0;
  display: flex;
}

.text-col-content-leadership {
  padding-right: 8vw;
  padding-left: 120px;

}

.text-col-content-projects {
  padding-right: 120px;
  padding-left: 8vw;
  flex-direction: column-reverse;

}

.image-col {
  background-color: #DEE0E0;

}

.text-col {
  display: flex;
  background-color: #C8CBCC;
  align-items: center;
  justify-content: center;
}

.container-fluid {
  padding-bottom: 0px;
}


/* CUSTOM BULLET MARKER */


.card li {
  background: url(../public/images/bullet-marker.svg) no-repeat 0px 1.4px;
  margin: 0 2rem 0 -2em;
  padding-left: 2rem;
  /* margin-left: -1rem; */
  margin-top: 10px;
  display:flex;
  align-items:center;
}  


/* Contact Form */

.contact-from {
  justify-content: space-between;
}

.contact-from-item label {
  margin-left: 20px !important;
}

.hard-hat {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  padding-top: 100px;
}

.hard-hat img {
  max-width: 600px;
  padding-left: 50px;
}

/* FOOTER STYLES */

footer {
  background-color: #24272A;
  padding-top: 6rem;
  padding-bottom: 28rem;
  min-height: 65px;
}

footer p {
  color: #ffffff;
}

.footer-arrow {
  padding-top: 2px;
  padding-left: 20px;
  margin-bottom: 30px;
}

.float-end a {
  text-decoration: none !important;
  color: #ffffff;
}

.float-end a:hover {
  text-decoration: none !important;
  color: #ffffff;
}

footer .align-items-center{
  padding-bottom: 100px;
}



/* Large displays */
@media (min-width: 1400px){
  .container {
      max-width: 1600px !important;
  }

  .text-col-content-leadership {
    padding-right: 18vw;
  }
  
  .text-col-content-projects {
    padding-left: 18vw;
  }
  .hard-hat img {
    max-width: 800px;
    padding-left: 50px;
  }

}


/* Mobile displays */
@media only screen and (max-width: 600px) {


  #nav-custom {
      padding-left: 2rem;
      padding-right: 2rem;
  }
  .navbar {
    padding-top: 1.7rem !important;
    padding-bottom: 1.7rem !important;
  }

  footer .align-items-center{
    display: flex;
    flex-direction: column !important;
    align-items: start !important;
  }

  footer .col {
    padding: 20px
  }

  footer .float-end {
    float: left !important;
  }

  .logo{
    max-height: 45px !important;
  }

  footer .logo {
    margin-bottom: 35px;
  }

  .footer-arrow {
    padding-left: 0px;
  }

  .posts-container {
    flex-direction: column;
  }

  /* .half-screen-projects {
    flex-direction: column-reverse;
  } */

  .contact-row {
    flex-direction: column;
  }

  .hard-hat {
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 60px;
    width: 300px;
  }

  .hard-hat img {
    width: 330px;
    padding-left: 10px;
    padding-right: 10px;
  }
} 