
.btn {
  border-radius: 2px !important;
} 

input {
  border-radius: 2px !important;
}

textarea {
  border-radius: 2px !important;
}

.card {
  border-radius: 2px !important;
}

/* TYPOGROPHY */

* {
  font-family: 'Poppins', sans-serif;
}

Html {
  font-size: 16px;
} 

.navbar-nav li a {
  font-family: 'Barlow', sans-serif !important;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: .125rem;
}

footer p, footer strong {
  font-family: 'Barlow', sans-serif; 
}

.btn {
  font-family: 'Barlow', sans-serif !important; 
  font-weight: 500 !important;
  text-transform: uppercase;
  letter-spacing: .125rem;
  font-size: 1rem;
  font-weight: 700 !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.btn-primary {
  font-family: 'Barlow', sans-serif !important; 
  font-weight: bold !important;
  background-color: #FF5F00 !important;
  border: #FF5F00 !important;
  --bs-btn-color: #fff;
  --bs-btn-bg: #FF5F00 !important;
  --bs-btn-border-color: #FF5F00 !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #FF5F00 !important;
  --bs-btn-hover-border-color: #FF5F00 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #FF5F00 !important;
  --bs-btn-active-border-color: #FF5F00 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #FF5F00 !important;
  --bs-btn-disabled-border-color: #FF5F00 !important;
  --bs-btn-box-shadow: none !important;
  --bs-btn-focus-box-shadow: none !important;
  
}

.btn:hover {
  background-color: #FF7E33 !important;
  border-color: #FF7E33 !important;
  
}


.card .btn {
  background-color: #24272A !important;
  border: #24272A !important;
}

.btn-sm {
    --bs-btn-font-size: 0.75rem !important;
}

.btn-sm:hover {
  background-color: #24272ad4 !important;
  border-color: #24272ad4 !important;
}

h1 {
  font-size: 8rem !important;
  line-height: 1.00 !important;
  font-weight: 700 !important;;
}

h2 {
  font-size: 4rem !important;
  font-weight: 700 !important;
  line-height: 1.00 !important;
}

h3 {
  font-size: 1.5rem !important;
  line-height: 1.25 !important;
}

h4 {
  color: #FF5F00;
  font-family: 'Barlow', sans-serif; 
  text-transform: uppercase;
  letter-spacing: .125rem;
  font-size: 1rem !important;
}

h5 {
  color: #24272A;
  font-family: 'Barlow', sans-serif; 
  text-transform: uppercase;
  letter-spacing: .125rem;
  font-size: 1rem !important;
}

.lead {
  font-size: 2rem !important;
  font-weight: 500 !important;
  line-height: 1.25 !important;
  margin-left: 7px !important;
}

.float-end a {
  font-family: 'Barlow', sans-serif !important; 
}
/* CUSTOM NAV */

.navbar {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  background-color: #242C33 !important;
  border-radius: 0px !important;
  
}

.navbar ul {
  align-items: center !important;
  justify-content: center !important;
  height: 85vh;
  font-size: 30px;
  line-height: 10vh;
}

.nav-link.active {
  text-decoration: underline;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
}

.navbar-toggler:focus {
  border: none !important;
  box-shadow: none !important;
}

.navbar-toggler:focus:not {
  border: none !important;
}

button:focus:not(:focus-visible) {
  outline: none !important;
}

button:focus:not(:focus-visible) {
  outline: 0 !important;
}

button:focus:not {
  outline: none !important;
}

.navbar-toggler-icon {
  background-image: url(./Assets/Hamburger.png) !important;
}

button[aria-expanded="true"] .navbar-toggler-icon{
 background-image: url(./Assets/CloseX.png) !important;
}

.navbar-toggler {
  padding: 0px !important;
}

.navbar-toggler * {
  outline: 0 !important;
}  

.nav-item:hover{
  text-decoration: underline;
  color: #24272A;
}


/* Hero */
.hero {
  margin-top: 100px;
}

.hero-bg{
  background-color: #FF7E33;
}
.hero h1, .lead{
  color: #ffffff;
}

.brick {
  mix-blend-mode: multiply;
}


/* GENERAL STYLES */
.container {
  padding-right: 0rem ;
  padding-left: 0rem ;
}

.philosophy {
  margin-top: 100px;
  margin-bottom: 100px;
}


.definition img {
  max-width: 500px;
  padding-top: 5vh;
  padding-bottom: 5vh; 
}

.definition {
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  margin-top: 100px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  margin-bottom: 75px;
}

.card {
  margin-bottom: 175px;
  /* min-width: 300px;
  max-width: 20vw; */
  flex: 1 0 29%; /* 29% ~ 1/3 + the margins*/
  margin: 5px;
}

.office-map {
  max-width: 650px;
  padding-top: 5vw;
  padding-bottom: 5vw;
  padding-left: 2vw;
}

.map-holder {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.info-map-row .col-sm {
  padding-left: 0px;
}

.contact-info-container {
  padding-top: 100px;
}

.hero-about-bg {
  background: url(https://images.pexels.com/photos/1862402/pexels-photo-1862402.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: 0% 40%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-about {
  margin-top: 100px;
  min-height: 850px;
  /* max-height: 885px; */
  display: flex;
  /* justify-content: center;
  justify-items: flex-start; */
  align-items: center;
  color: #fff;
}

.hero-about * {
  padding-left: 0px !important;
}

.hero-projects-bg {
  background: url(./Assets/yellow-house.png);
  background-position: 0% 42%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-projects {
  margin-top: 100px;
  min-height: 850px;
  /* max-height: 885px; */
  display: flex;
  /* justify-content: center;
  justify-items: flex-start; */
  align-items: center;
  color: #fff;
}

.hero-projects * {
  padding-left: 0px !important;
}


.contact-home-bg {
  background-color: #DEE0E0;
  padding-top: 120px;
  padding-bottom: 50px;
}

.vision-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.vision-text-col p, .vision-text-col h3 {
  padding-right: 200px;
}

.posts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between ;
  gap: 30px;
  padding-bottom: 75px;
}

.post-btn {
  margin: 1rem;
}

/* /Features CSS */

.features-container {
  display: flex;

  /* OPTIONAL: Reverse the order of image and content */
  flex-direction: row-reverse;

  /* OPTIONAL: Spacing between items */
  margin: 50px 0;
}

.features-container-rev {
  display: flex;
  flex-direction: flex-end;


  /* OPTIONAL: Reverse the order of image and content 
  flex-direction: row-reverse;*/

  /* OPTIONAL: Spacing between items */
  margin: 16px 0;

}

.container__image {
  width: 300px;
  border-radius: 1000px;
  
}

.container__image img{
  
  border-radius: 1000px;
  width:300px;
  height:300px;
  object-fit:cover;

}
.container__feature {
  /* Take the remaining width */
  flex: 1;
  margin-right: 50px;
  justify-content: center;
  align-self: center;
}

.left-image {
  margin-right: 50px;

}

.container-fluid {
  padding-bottom: 100px;
}

/* Half Section */

.half-screen-leadership {
  min-height: 600px;
  background-color: #DEE0E0;
  display: flex;
}

.half-screen-projects {
  min-height: 600px;
  background-color: #DEE0E0;
  display: flex;
}

.text-col-content-leadership {
  padding-right: 8vw;
  padding-left: 160px;

}

.text-col-content-projects {
  padding-right: 160px;
  padding-left: 8vw;
  flex-direction: column-reverse;

}

.image-col-projects {
  background-color: #DEE0E0;
  background: url(./Assets/yellow-house.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  min-height: 400px;
}

.image-col-leadership {
  background-color: #DEE0E0;
  background: url(https://images.pexels.com/photos/1862402/pexels-photo-1862402.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 40%;
  min-height: 400px;
}

.text-col {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

.container-fluid {
  padding-bottom: 0px;
}

.nwa-graph {
  max-width: 800px;
  padding-top: 1.5vh;
  /* padding-bottom: 5vh;  */
  pointer-events: none
}

.graph-col {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto

}

.why-graph-bg {
  background-color: #DEE0E0;
}

.why-nwa-graph-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.why-nwa-col p {
  max-width: 600px;
}

.leadership-contianer p {
  max-width: 500px;
}

.leadership-contianer h3 {
  max-width: 550px;
}

.leadership-contianer {
  padding-top: 50px;
  padding-bottom: 100px;
}

.house-elevation {
  float: right;
  max-width: 200px;
}


/* CUSTOM BULLET MARKER */


.card li {
  background: url(./Assets/bullet-marker.svg) no-repeat 0px 1.4px;
  margin: 0 2rem 0 -2em;
  padding-left: 2.5rem;
  /* margin-left: -1rem; */
  margin-top: 10px;
  display:flex;
  align-items:center;
}  

.contact-info li {
  background: url(./Assets/bullet-marker.svg) no-repeat 0px 1.4px;
  margin: 0 2rem 0 -2em;
  padding-left: 2.5rem;
  margin-left: -1rem;
  margin-top: 10px;
  display:flex;
  align-items:center;
}  


.why-nwa-col li {
  background: url(./Assets/bullet-marker.svg) no-repeat 0px 1.4px;
  margin: 0 2rem 0 -2em;
  padding-left: 2.5rem;
  /* margin-left: -1rem; */
  margin-top: 10px;
  display:flex;
  align-items:center;
}

.contact-info-leadership li {
  background: url(./Assets/bullet-marker.svg) no-repeat 0px 1.4px;
  margin: 0 2rem 0 -2em;
  padding-left: 2.5rem;
  /* margin-left: -1rem; */
  margin-top: 10px !important;
  display:flex;
  align-items:center;
}

.image-card-bg{
  background-color: #DEE0E0;
  background: url(./Assets/interior-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 40%;
  min-height: 400px;
}

.card-header {
  padding: 0 !important;
  margin: 0 !important;
}

/* Contact Form */

.contact-from {
  justify-content: space-between;
}

.contact-from-item label {
  margin-left: 20px !important;
}

.hard-hat {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  padding-top: 100px;
}

.hard-hat img {
  max-width: 450px;
  padding-left: 50px;
}

/* FOOTER STYLES */

footer {
  background-color: #24272A;
  padding-top: 6rem;
  padding-bottom: 28rem;
  min-height: 65px;
}

footer p {
  color: #ffffff;
}

.footer-arrow {
  padding-top: 2px;
  padding-left: 16px;
  margin-bottom: 30px;
}

.float-end a {
  text-decoration: none !important;
  color: #ffffff;
}

.float-end a:hover {
  text-decoration: none !important;
  color: #ffffff;
}

footer .align-items-center{
  padding-bottom: 100px;
}


/* Animation */

/* This only changes this particular animation duration */
.animate__animated.animate__fadeInUp {
  --animate-duration: .75s;
}

@-webkit-keyframes blink {
  0%, 100% { opacity: .25; }
  50% { opacity: 1; }
}
@-moz-keyframes blink {
  0%, 100% { opacity: .25; }
  50% { opacity: 1; }
}
@-o-keyframes blink {
  0%, 100% { opacity: .25; }
  50% { opacity: 1; }
}
@keyframes blink {
  0%, 100% { opacity: .25; }
  50% { opacity: 1; }
}

.blink {
  -webkit-animation: blink 3s infinite;
  -moz-animation: blink 3s infinite;
  -o-animation: blink 3s infinite;
  animation: blink 3s infinite;
}

/* Large displays */
@media (min-width: 1400px){
  .container {
      max-width: 1600px !important;
  }

  .text-col-content-leadership {
    padding-right: 18vw;
  }
  
  .text-col-content-projects {
    padding-left: 18vw;
  }
  .hard-hat img {
    max-width: 800px;
    padding-left: 50px;
  }

  .philosophy-text p {
    padding-right: 7vw;
  }

}


/* Large to Medium display */
@media (max-width: 1400px){
  .hero-about {
    min-height: 650px;
  }

  .hero-projects {
    min-height: 650px;
  }

  .nwa-graph {
    max-width: 500px;
    padding-top: 7vh;
  }
  .card {
    margin-bottom: 175px;
    /* min-width: 300px;
    max-width: 20vw; */
    flex: 1 0 40%; /* 29% ~ 1/3 + the margins*/
    margin: 5px;
  }
}

@media (max-width: 992px){
  .card {
    margin-bottom: 175px;
    /* min-width: 300px;
    max-width: 20vw; */
    flex: 1 0 50%; /* 29% ~ 1/3 + the margins*/
    margin: 5px;
  }
}

@media (min-width: 992px){
  .brick {
    float: right !important;
  }

  .hero .row * {
    padding-right: 4px;
    padding-left: 4px;
  
  }

  .philosophy-text {
    padding-left: 0px !important;
  }

}



/* Mobile displays */
@media only screen and (max-width: 600px) {


  #nav-custom {
      padding-left: 2rem;
      padding-right: 2rem;
  }
  .navbar {
    padding-top: 1.7rem !important;
    padding-bottom: 1.7rem !important;
  }

  footer .align-items-center{
    display: flex;
    flex-direction: column !important;
    align-items: start !important;
  }

  footer .col {
    padding: 20px
  }

  footer .float-end {
    float: left !important;
  }

  .logo{
    max-height: 45px !important;
  }

  footer .logo {
    margin-bottom: 35px;
  }

  .footer-arrow {
    padding-left: 0px;
  }

  .posts-container {
    flex-direction: column;
  }

  .text-col-content-leadership {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
    min-height: 33vh;
    justify-content: center;
  }
  
  .text-col-content-projects {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
    min-height: 33vh;
  }

  .contact-row {
    flex-direction: column;
  }

  .half-screen-projects{
    flex-direction: column-reverse;
  }

  .half-screen-leadership{
    flex-direction: column;
  }

  .hard-hat {
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 60px;
    width: 300px;
  }

  .hard-hat img {
    width: 330px;
    padding-left: 10px;
    padding-right: 10px;
  }

  h1 {
    font-size: 3.75rem !important;
    line-height: 1.00 !important;
  }
  
  h2 {
    font-size: 2.75rem !important;
    font-weight: 700 !important;
    line-height: 1.00 !important;
  }
  
  h3 {
    font-size: 1.5rem !important;
    line-height: 1.25 !important;
  }

  .lead {
    font-size: 2rem !important;
    line-height: 1.15 !important;
  }

  .definition img {
    max-width: 300px;
    padding-top: 5vh;
    padding-bottom: 5vh; 
    pointer-events: none
  }
  
  .definition {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto
  }

  .contact-container {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 32px !important;
    padding-right: 32px !important;
  }

  .contact-container .col {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .contact-container .contact-info{ 
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  
  .contact-container h3 {
    transform: translate(12x, 0px);

  }

  .office-map {
    max-width: 330px;
    padding-left: 0vw;
  }

  .map-holder {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .contact-info li {
    margin: 0 2rem 0 -1em;
  }  

 .container .app {
    padding-left: 18px;
    padding-right: 18px
  }

  .about-container {
    padding-left: 18px;
    padding-right: 18px
  }

  .philosophy-text {
    padding-left: 20px !important;
  }

  .definition {
    padding-left: 20px !important;
  }

  .contact-info-container {
    padding-top: 30px;
  }

  .hero-about {
    margin-top: 100px;
    min-height: 350px;
    max-height: 550px;
    padding-left: 32px !important;
    padding-right: 32px !important;
  }

  .hero-projects{
    margin-top: 100px;
    min-height: 350px;
    max-height: 550px;
    padding-left: 32px !important;
    padding-right: 32px !important;
  }

  .nwa-graph {
    max-width: 90vw;
    padding-top: 5vh;
    /* padding-bottom: 5vh;  */
    padding-right: 20px;
    pointer-events: none
  }
  
  .why-nwa-col{
    padding-left: 32px !important;
  }

  .why-nwa-graph-container {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .contact-home-container{
    padding-left: 32px !important;
    padding-right: 32px !important;
  }

  .contact-home-bg {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .vision-text-col p, .vision-text-col h3 {
    padding-right: 20px;
  }

  .vision-text-col {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .leadership-contianer p {
    max-width: 100%;
  }
  
  .leadership-contianer h3 {
    max-width: 100%
  }

  .leadership-contianer {
    padding-top: 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .house-elevation {
    max-width: 125px;
  }
  
} 